
header .container {
    padding:  0 calc(3vw + 3vh);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    
    .imgLogo{
        padding-left: calc(6.2vw + 1vh);
        width: 25%;
        @media (max-width:1366px){

        }
    }
    .nav{
        &__menu{
            font-family: var(--font);
            display: flex;
            &__itens{
                list-style: none;
                width: 11vw;
                min-width: 120px;
                text-align: center;
                &:nth-child(1){
                    font-weight: 700;
                }
                a{
                    font-size: 1em;
                    text-decoration: none;
                    color: #000;
                }
            }    
        }
    }

    @media (max-width:1366px){
    }
}