#location .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 2%;
    padding-left: calc(1vw + 1vh);
    width: 100vw;
    .ballDec{
        position: absolute;
        left: calc(-5vh - 6.8vw);
        top: calc(-1vh - 1vw);
        width: calc(30vh + 21vw);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--color-blue);
        opacity: .2;
        z-index: -1;
    }
    .loc{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5vw;
        &__title{
            text-align: center;
            font-size: calc(2vw + 1vh);
            line-height: calc(2.2vw + 1.1vh);
            font-weight: 700;
        }
        &__desc{
            width: 68%;
            font-size: calc(1.5vw + 1.1vh);
            line-height: calc(1.5vw + 1.6vh);
            text-align: center;            
        }
        &__maps{
            margin-top: 1.7vw;
            box-shadow: 0px 0px 10px 3px var(--color-gray);
            background-color: var(--bg-color);
            border-radius: 10px;
            margin-left: -2vw;
            overflow: hidden;
            width: calc(54vw + 28vh);
            max-width: 968px;
            aspect-ratio: 1.9;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &__wait{
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                justify-content: center;
                &__title{
                    color: var(--color);
                    text-align: center;
                    font-size: 20px;
                }
                &__permission{
                    position: relative;
                    overflow: hidden;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 15px 30px;
                    cursor: pointer;
                    background: #fff0;
                    border:1px solid var(--color-blue);
                    color: var(--color-blue);
                    transition: all .2s;
                    span{
                        z-index: 0;
                        top: 0;
                        left: -3%;
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        background-color: var(--color-blue);
                        transform: skew(-45deg);
                        transition: .6s;
                        opacity: .2;
                        &:nth-child(1){
                            left: 100%;
                        }
                    }
                    &:hover{
                        padding: 18px 33px;
                        font-size: 20px;
                        
                        span{
                            opacity: 1;
                            left: 93.1%;
                            transform: skew(-15deg);
                            &:nth-child(1){
                                transform: skew(15deg);
                                left: 3%;
                            }
                        } 
                    } 
                    
                }
            }
            iframe{
                width: calc(78vw + 28vh);
                aspect-ratio: 1.9;
                overflow: hidden;
                background-color: var(--color-gray);
                display: none;
            }
        }
        
        &__linedec{
            width: 315px;
            height: 2px;
            margin: 1.5vw;
            background-color: #000;
        }
    }
    
}