.serviceBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: calc(1vw + 1vh);
    overflow: hidden;
    width: 100vw;

    &__ballDec{
        width: calc(30vh + 21vw);
        aspect-ratio: 1/1;
        border: 5px solid var(--color-blue);
        opacity: 20%;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        right: calc(-9vw - 3.3vh);
    }

    &__text {
        text-align: center;
        width: calc(45vh + 45vw);
        &__title{
            font-size: calc(1.7vh + 1.7vw);
            margin-top: calc(8vw + 3vh);
            margin-bottom: calc(1.3vw + 3vh);
        }
        &__desc{
            font-size: calc(1.3vw + 1.2vh);
        }
    }

    &__itens{
        margin-top: calc(2.2vw + 2vh);
        display: flex;
        align-items: center;
        gap: calc(.5vw + .6vh);
        
        &__item{
            width: calc(12vw + 8vh);
            position: relative;
            aspect-ratio: .68;
            background-color: var(--color-blue);
            
            *{
                color: #fff;
            }

            &__index{
                position: absolute;
                left: calc(1.5vh);
                font-size: calc(4vw + 8vh);
                color: #1a1a1a16;
            }
            &__title{
                font-size: calc(1.5vh + 1.11vw);
                margin: calc(4vw + 4vh) 0px calc(2vw + 3vh) calc(2vw + 1vh);

            }
            &__desc{
                font-size: calc(.56vh + .56vw);
                width: 85%;
                margin-left: calc(1vw + .6vh);
            }
        }
    }
}